#html{
    height: 100%;
    min-height: 100%;
}
#navbar{
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 45px;
    grid-template-areas: About Store . Gmail Images Menu Sign-in;
    margin: 0 20px;
}